<%- include("header") -%>

  <header>
    <a href="/">Main List</a><br>
    <a href="/lists">Custom Lists</a>
  </header>
  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach( item => { %>
      <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
        <% if (listTitle === 'Custom Lists') { %>
          <p><a href="/lists/<%= item.name %>"><%=  item.name  %></a></p>
        <% } else { %>
        <p><%=  item.name  %></p>
       <% } %>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>">
    </form>
      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
